@{
    ViewData["Title"] = "Hướng dẫn chọn size";
}

<h1 class="text-center text-success my-4">Hướng dẫn chọn size</h1>

<div class="container">
    <p>👕 Dưới đây là bảng tham khảo size thông dụng:</p>

    <table class="table table-bordered table-striped text-center">
        <thead class="table-success">
            <tr>
                <th>Size</th>
                <th>Cân nặng (kg)</th>
                <th>Chiều cao (cm)</th>
            </tr>
        </thead>
        <tbody>
            <tr><td>S</td><td>40 - 50</td><td>150 - 160</td></tr>
            <tr><td>M</td><td>50 - 60</td><td>160 - 170</td></tr>
            <tr><td>L</td><td>60 - 70</td><td>170 - 175</td></tr>
            <tr><td>XL</td><td>70 - 80</td><td>175 - 180</td></tr>
            <tr><td>XXL</td><td>80+</td><td>180+</td></tr>
        </tbody>
    </table>

    <p>💡 Nếu bạn phân vân giữa hai size, hãy chọn size lớn hơn để thoải mái hơn nhé!</p>
</div>
