@{
    ViewData["Title"] = "Thông tin sinh viên";
}
<h1>@ViewData["Title"]</h1>
<div class="alert alet-danger">
    <p>Ma sinh vien: 2310900084</p>
    <p>Ho va ten: Nguyen Van Quan</p>
    <p>Email: nguyenquan@gmail.com</p>
    <p>Dien thoai: 0775345207</p>
    <p>Lop: K23CNT2-NET</p>
</div>

