@{
    ViewData["Title"] = "Thong tin sinh vien";
}
<div class="alert alert-info">
    <h1>Thong tin sinh vien</h1>
    <p>Ma sinh vien:</p>
    <p>Ho  va ten:</p>
    <p>so dt:</p>
    <p>Email:</p>
    <p></p>
</div>