﻿@{
    ViewData["Title"] = "Thông tin sinh viên";
}
<h1>@ViewData["Title"]</h1>

<p>Mã sinh viên: 230012332</p>
<p>Họ và tên: Nguyen Van Quan</p>
<p>Email: vanquanj@gmail.com</p>
<p>Ngày sinh: 13/06/2005</p>
<p>Lớp: K23CNT2</p>