@{
    ViewData["Title"] = "Thông tin sinh viên";
}
<div class="alet alert-info">
        <h1>@ViewData["Title"]</h1>
    <hr/>
    <p>Mã sinh viên: 2310900088</p>
    <p>Họ và tên: Nguyễn Văn Quân </p>
    <p>Emai: quan130605@gmail.com</p>
    <p>Điện thoại: <a herf="Tel:0388604819">0388 604 819</a></p>
    <p>Lớp: K23CNT2</p>

</div>

