@{
    ViewData["Title"] = "Thong tin sinh vien";
}
<div class="alert alert-info">
    <h1>@ViewData["Title"]</h1>
    <p>Ma sinh vien: 2310900082</p>
    <p>Ho va Ten:Nguyen Van Quan</p>
    <p>Email:nguyenvanquan2k5@gmail.com</p>
    <p>Phone:0746346238</p>
    </html>
</div>
